# Khai thác dữ liệu_lab01
## Phan Hồng Trâm_21110414

# I. Làm sạch và tiền xử lý dữ liệu

In [1]:
# mount data from google drive to colab
from google.colab import drive
drive.mount('/content/drive')

#import library
import pandas as pd # pandas
import numpy as np # numpy
import time
import os
from sklearn import preprocessing

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## 1.1. Load dữ liệu

In [2]:
def read_dataset(path):
    # Todo: read_csv from a path and return a DataFrame
    df = pd.read_csv(path, delimiter=',')
    display(df)
    # display(df.describe())
    return df

In [3]:
PATH = "/content/drive/MyDrive/Colab Notebooks/Data_Mining/Lab01/" # Path to your file

df = read_dataset(os.path.join(PATH, "data.csv"))
df = df.set_index('ID')

    ID First Name Last Name   Age Gender Department   Salary Date of Joining
0    1      John        Doe  25.0      M      Sales  50000.0      01/01/2020
1    2       Jane     Smith  30.0      F  Marketing  60000.0      06/01/2018
2    3        Bob   Johnson  45.0      M         HR  70000.0      09/01/2016
3    4      Alice  Williams  33.0      F         IT  80000.0      02/01/2017
4    5      James     Brown  27.0      M      Sales  55000.0      03/01/2019
5    6      Sarah       Lee   NaN      F  Marketing  65000.0      12/01/2018
6    7    Michael     Davis  39.0      M         HR      NaN      08/01/2015
7    8      Susan    Miller  42.0      F         IT  90000.0      11/01/2014
8    9      David    Wilson  28.0      M      Sales  60000.0      05/01/2020
9   10      Emily     Brown  35.0      F  Marketing  55000.0      04/01/2017
10  11      John        Doe  25.0      M      Sales  50000.0      01/01/2020
11  12      John        Doe  25.0      M      Sales  50000.0      01/01/2020

In [4]:
df.describe() # generate descriptive statistics of the dataset

             Age        Salary
count  11.000000     11.000000
mean   32.181818  62272.727273
std     7.208581  13107.943463
min    25.000000  50000.000000
25%    26.000000  52500.000000
50%    30.000000  60000.000000
75%    37.000000  67500.000000
max    45.000000  90000.000000

## 1.2. Xử lý các giá trị missing

In [5]:
# Kiểm tra giá trị missing
print(df.isnull().sum())
# Làm đầy các giá trị missing bằng mean
df['Age'].fillna(df['Age'].mean(), inplace=True)
df['Salary'].fillna(df['Salary'].mean(), inplace=True)
print('\nAfter fill missing:')
print(df.isnull().sum())

First Name         0
Last Name          0
Age                1
Gender             0
Department         0
Salary             1
Date of Joining    0
dtype: int64

After fill missing:
First Name         0
Last Name          0
Age                0
Gender             0
Department         0
Salary             0
Date of Joining    0
dtype: int64

## 1.3. Xử lý các giá trị giống nhau

In [6]:
#  Kiểm tra giá trị duplicated
print(df.duplicated().sum())
# Drop duplicated
df=df.drop_duplicates()
print(df)

2
   First Name Last Name        Age Gender Department        Salary  \
ID
1       John        Doe  25.000000      M      Sales  50000.000000
2        Jane     Smith  30.000000      F  Marketing  60000.000000
3         Bob   Johnson  45.000000      M         HR  70000.000000
4       Alice  Williams  33.000000      F         IT  80000.000000
5       James     Brown  27.000000      M      Sales  55000.000000
6       Sarah       Lee  32.181818      F  Marketing  65000.000000
7     Michael     Davis  39.000000      M         HR  62272.727273
8       Susan    Miller  42.000000      F         IT  90000.000000
9       David    Wilson  28.000000      M      Sales  60000.000000
10      Emily     Brown  35.000000      F  Marketing  55000.000000

   Date of Joining
ID
1       01/01/2020
2       06/01/2018
3       09/01/2016
4       02/01/2017
5       03/01/2019
6       12/01/2018
7       08/01/2015
8       11/01/2014
9       05/01/2020
10      04/01/2017

## 1.4. Mã hóa các biến categorical

pd.get_dummies là một hàm trong thư viện Pandas của Python được sử dụng để chuyển đổi các cột dữ liệu dạng phân loại (categorical) sang dạng ma trận đặc trưng (dummy matrix). Ma trận đặc trưng là một ma trận có số lượng cột bằng số lượng giá trị duy nhất trong cột dữ liệu ban đầu, và mỗi cột đại diện cho một giá trị duy nhất.

In [7]:
# Mã hóa dữ liệu categorical
df =pd.get_dummies(df, columns=['Gender', 'Department'], dtype=float)

## 1.5. Xử lý dữ liệu Datetime

In [8]:
# Xử lí dữ liệu datetime
## Chuyển cột date thành một đối tượng datetime
df['Date of Joining'] = pd.to_datetime(df['Date of Joining'])
## extract month and day of week from date column
df['month'] = df['Date of Joining'].dt.month
df['day_of_week'] = df['Date of Joining'].dt.day_name()
## Drop the original date column
df=df.drop('Date of Joining', axis=1)
print(df)

   First Name Last Name        Age        Salary  Gender_F  Gender_M  \
ID
1       John        Doe  25.000000  50000.000000       0.0       1.0
2        Jane     Smith  30.000000  60000.000000       1.0       0.0
3         Bob   Johnson  45.000000  70000.000000       0.0       1.0
4       Alice  Williams  33.000000  80000.000000       1.0       0.0
5       James     Brown  27.000000  55000.000000       0.0       1.0
6       Sarah       Lee  32.181818  65000.000000       1.0       0.0
7     Michael     Davis  39.000000  62272.727273       0.0       1.0
8       Susan    Miller  42.000000  90000.000000       1.0       0.0
9       David    Wilson  28.000000  60000.000000       0.0       1.0
10      Emily     Brown  35.000000  55000.000000       1.0       0.0

    Department_HR  Department_IT  Department_Marketing  Department_Sales  \
ID
1             0.0            0.0                   0.0               1.0
2             0.0            0.0                   1.0               0.0
3             1.0            0.0                   0.0               0.0
4             0.0            1.0                   0.0               0.0
5             0.0            0.0                   0.0               1.0
6             0.0            0.0                   1.0               0.0
7             1.0            0.0                   0.0               0.0
8             0.0            1.0                   0.0               0.0
9             0.0            0.0                   0.0               1.0
10            0.0            0.0                   1.0               0.0

    month day_of_week
ID
1       1   Wednesday
2       6      Friday
3       9    Thursday
4       2   Wednesday
5       3      Friday
6      12    Saturday
7       8    Saturday
8      11    Saturday
9       5      Friday
10      4    Saturday

## 1.6. Xử lý các giá trị ngoại lai và scaling dữ liệu

In [9]:
# Import thư viện xử lý giá trị ngoại lai và scaler dữ liệu
from sklearn.preprocessing import RobustScaler, StandardScaler, MinMaxScaler

In [10]:
# Chuẩn bị dữ liệu
df_1 = df.drop(['First Name', 'Last Name', 'day_of_week'], axis = 1) #Drop các feature là object
array =df_1.values # Array chứa giá trị của df_1
print(array)

[[2.50000000e+01 5.00000000e+04 0.00000000e+00 1.00000000e+00
  0.00000000e+00 0.00000000e+00 0.00000000e+00 1.00000000e+00
  1.00000000e+00]
 [3.00000000e+01 6.00000000e+04 1.00000000e+00 0.00000000e+00
  0.00000000e+00 0.00000000e+00 1.00000000e+00 0.00000000e+00
  6.00000000e+00]
 [4.50000000e+01 7.00000000e+04 0.00000000e+00 1.00000000e+00
  1.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
  9.00000000e+00]
 [3.30000000e+01 8.00000000e+04 1.00000000e+00 0.00000000e+00
  0.00000000e+00 1.00000000e+00 0.00000000e+00 0.00000000e+00
  2.00000000e+00]
 [2.70000000e+01 5.50000000e+04 0.00000000e+00 1.00000000e+00
  0.00000000e+00 0.00000000e+00 0.00000000e+00 1.00000000e+00
  3.00000000e+00]
 [3.21818182e+01 6.50000000e+04 1.00000000e+00 0.00000000e+00
  0.00000000e+00 0.00000000e+00 1.00000000e+00 0.00000000e+00
  1.20000000e+01]
 [3.90000000e+01 6.22727273e+04 0.00000000e+00 1.00000000e+00
  1.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
  8.00000000e+00]
 [4.20000000e+01 9.00000000e+04 1.00000000e+00 0.00000000e+00
  0.00000000e+00 1.00000000e+00 0.00000000e+00 0.00000000e+00
  1.10000000e+01]
 [2.80000000e+01 6.00000000e+04 0.00000000e+00 1.00000000e+00
  0.00000000e+00 0.00000000e+00 0.00000000e+00 1.00000000e+00
  5.00000000e+00]
 [3.50000000e+01 5.50000000e+04 1.00000000e+00 0.00000000e+00
  0.00000000e+00 0.00000000e+00 1.00000000e+00 0.00000000e+00
  4.00000000e+00]]

### 1.6.1. Xử lý giá trị ngoại lai bằng RobustScaler
RobustScaler là một phương pháp chuẩn hóa dữ liệu có khả năng chống lại giá trị ngoại lai (outlier). Phương pháp này hoạt động bằng cách tính toán median (trung vị) và median absolute deviation (MAD) của dữ liệu, sau đó sử dụng các giá trị này để chuẩn hóa dữ liệu.
Trong python, ta có thể sử dụng phương pháp RobustScaler bằng cách import thư viện **from sklearn.preprocessing import RobustScaler**.

In [11]:
## sử dụng RobustScaler() để loại bỏ những giá trị ngoại lai
scaler = RobustScaler()
robust_df = scaler.fit_transform(array)
robust_df = pd.DataFrame(robust_df)
print('Xử lý outlier bằng RobustScaler:\n', robust_df)

Xử lý outlier bằng RobustScaler:
           0         1    2    3    4    5         6         7         8
0 -0.799043 -0.890909 -0.5  0.5  0.0  0.0  0.000000  1.333333 -0.818182
1 -0.272727 -0.090909  0.5 -0.5  0.0  0.0  1.333333  0.000000  0.090909
2  1.306220  0.709091 -0.5  0.5  1.0  0.0  0.000000  0.000000  0.636364
3  0.043062  1.509091  0.5 -0.5  0.0  1.0  0.000000  0.000000 -0.636364
4 -0.588517 -0.490909 -0.5  0.5  0.0  0.0  0.000000  1.333333 -0.454545
5 -0.043062  0.309091  0.5 -0.5  0.0  0.0  1.333333  0.000000  1.181818
6  0.674641  0.090909 -0.5  0.5  1.0  0.0  0.000000  0.000000  0.454545
7  0.990431  2.309091  0.5 -0.5  0.0  1.0  0.000000  0.000000  1.000000
8 -0.483254 -0.090909 -0.5  0.5  0.0  0.0  0.000000  1.333333 -0.090909
9  0.253589 -0.490909  0.5 -0.5  0.0  0.0  1.333333  0.000000 -0.272727

### 1.6.1. Scaling bằng phương pháp Standard deviation
Xét trường hợp thuộc tính thứ $j$ có trung bình (mean) là $\mu_{j}$ và độ lệch chuẩn (standard deviation) $\sigma_{j}$. Khi đó, $x_{j}^{i}$ của $\overline{X_i}$ có thể được chuẩn hóa như sau:
$$
z_{i}^{j}=\dfrac{x_{i}^{j}-\mu_{j}}{σ_j}
$$
Trong python, ta có thể sử dụng phương pháp min-max bằng cách import thư viện **from sklearn.preprocessing import StandardScaler**

In [12]:
## Chuẩn hóa dữ liệu bằng z-score (standard)
scaler = StandardScaler()
standard = scaler.fit_transform(array)
standard_df = pd.DataFrame(standard, index = df.index)
print('Chuẩn hóa dữ liệu:')
print(standard_df)

Chuẩn hóa dữ liệu:
           0         1    2    3    4    5         6         7         8
ID
1  -1.369782 -1.264391 -1.0  1.0 -0.5 -0.5 -0.654654  1.527525 -1.420508
2  -0.575077 -0.405854  1.0 -1.0 -0.5 -0.5  1.527525 -0.654654 -0.027853
3   1.809037  0.452683 -1.0  1.0  2.0 -0.5 -0.654654 -0.654654  0.807740
4  -0.098254  1.311220  1.0 -1.0 -0.5  2.0 -0.654654 -0.654654 -1.141977
5  -1.051900 -0.835122 -1.0  1.0 -0.5 -0.5 -0.654654  1.527525 -0.863446
6  -0.228297  0.023415  1.0 -1.0 -0.5 -0.5  1.527525 -0.654654  1.643333
7   0.855391 -0.210732 -1.0  1.0  2.0 -0.5 -0.654654 -0.654654  0.529209
8   1.332214  2.169757  1.0 -1.0 -0.5  2.0 -0.654654 -0.654654  1.364802
9  -0.892959 -0.405854 -1.0  1.0 -0.5 -0.5 -0.654654  1.527525 -0.306384
10  0.219627 -0.835122  1.0 -1.0 -0.5 -0.5  1.527525 -0.654654 -0.584915

### 1.6.2. Scaling bằng phương pháp min-max:

Xấp xỉ thứ 2 sử dụng min-max scaling để ánh xạ tất cả thuộc tính thành vùng
[0,1]. Đặt $min_j$ và $max_j$ là các giá trị nhỏ nhất và lớn nhất của thuộc tính j. Khi đó, $x_{j}^{i}$ của $\overline{X_i}$ có thể được scale như sau:
$$z_{i}^{j}=\dfrac{x_{i}^{j}-\min_{j}}{\max_{j}-\min_{j}}$$
Trong python, ta có thể sử dụng phương pháp min-max bằng cách import thư viện **from sklearn.preprocessing import MinMaxScaler**

In [13]:
## Scale bằng phương pháp min-max
scaler = MinMaxScaler()
minmax = scaler.fit_transform(array)
minmax_df = pd.DataFrame(minmax, index = df.index)
print("Scaling dữ liệu bằng pp min-max:\n", minmax_df)

Scaling dữ liệu bằng pp min-max:
            0         1    2    3    4    5    6    7         8
ID
1   0.000000  0.000000  0.0  1.0  0.0  0.0  0.0  1.0  0.000000
2   0.250000  0.250000  1.0  0.0  0.0  0.0  1.0  0.0  0.454545
3   1.000000  0.500000  0.0  1.0  1.0  0.0  0.0  0.0  0.727273
4   0.400000  0.750000  1.0  0.0  0.0  1.0  0.0  0.0  0.090909
5   0.100000  0.125000  0.0  1.0  0.0  0.0  0.0  1.0  0.181818
6   0.359091  0.375000  1.0  0.0  0.0  0.0  1.0  0.0  1.000000
7   0.700000  0.306818  0.0  1.0  1.0  0.0  0.0  0.0  0.636364
8   0.850000  1.000000  1.0  0.0  0.0  1.0  0.0  0.0  0.909091
9   0.150000  0.250000  0.0  1.0  0.0  0.0  0.0  1.0  0.363636
10  0.500000  0.125000  1.0  0.0  0.0  0.0  1.0  0.0  0.272727

## 1.7. Rời rạc hóa dữ liệu

### 1.7.1. equi-width ranges
Equi - width ranges là chia các giá trị này thành các khoảng bằng nhau về độ rộng (width) hoặc bin. cụ thể là các bin có độ rộng bằng nhau với mỗi bin được xác định như sau:
$$[\min, min+w-1], [min, min+2w-1],\ldots [min+kw, max]$$

với $w=\dfrac{(\max - \min)}{k}$, $k$ là số bin.

In [14]:
# 10 equi-width ranges: dùng hàm pd.cut()
df_2 = standard_df.copy()
df_2['equi_width_column0'] = pd.cut(x=df_2[0], bins = 10)
print('Rời rạc hóa dữ liệu bằng 10 equi-width ranges:\n', df_2)

Rời rạc hóa dữ liệu bằng 10 equi-width ranges:
            0         1    2    3    4    5         6         7         8  \
ID
1  -1.369782 -1.264391 -1.0  1.0 -0.5 -0.5 -0.654654  1.527525 -1.420508
2  -0.575077 -0.405854  1.0 -1.0 -0.5 -0.5  1.527525 -0.654654 -0.027853
3   1.809037  0.452683 -1.0  1.0  2.0 -0.5 -0.654654 -0.654654  0.807740
4  -0.098254  1.311220  1.0 -1.0 -0.5  2.0 -0.654654 -0.654654 -1.141977
5  -1.051900 -0.835122 -1.0  1.0 -0.5 -0.5 -0.654654  1.527525 -0.863446
6  -0.228297  0.023415  1.0 -1.0 -0.5 -0.5  1.527525 -0.654654  1.643333
7   0.855391 -0.210732 -1.0  1.0  2.0 -0.5 -0.654654 -0.654654  0.529209
8   1.332214  2.169757  1.0 -1.0 -0.5  2.0 -0.654654 -0.654654  1.364802
9  -0.892959 -0.405854 -1.0  1.0 -0.5 -0.5 -0.654654  1.527525 -0.306384
10  0.219627 -0.835122  1.0 -1.0 -0.5 -0.5  1.527525 -0.654654 -0.584915

   equi_width_column0
ID
1    (-1.373, -1.052]
2    (-0.734, -0.416]
3      (1.491, 1.809]
4     (-0.0983, 0.22]
5    (-1.373, -1.052]
6   (-0.416, -0.0983]
7      (0.538, 0.855]
8      (1.173, 1.491]
9    (-1.052, -0.734]
10    (-0.0983, 0.22]

### 1.7.2. equi-depth ranges
 Trong trường hợp này, các vùng được được chọn sao cho mỗi vùng có số các bản ghi bằng nhau. Một thuộc tính có thể được chia thành các vùng equi-depth bằng việc sắp xếp nó đầu tiên và sau đó việc lựa chọn các điểm phân chia trong giá trị thuộc tính được sắp xếp, sao cho mỗi vùng chứa số các bản ghi bằng nhau.

In [15]:
# 10 equi-depth ranges: dùng hàm pd.qcut()
df_3 = standard_df.copy()
df_3['equi_depth_column0'] = pd.qcut(df_3[0], q=10)
print('Rời rạc hóa dữ liệu bằng 10 equi-depth ranges:\n', df_3)

Rời rạc hóa dữ liệu bằng 10 equi-depth ranges:
            0         1    2    3    4    5         6         7         8  \
ID
1  -1.369782 -1.264391 -1.0  1.0 -0.5 -0.5 -0.654654  1.527525 -1.420508
2  -0.575077 -0.405854  1.0 -1.0 -0.5 -0.5  1.527525 -0.654654 -0.027853
3   1.809037  0.452683 -1.0  1.0  2.0 -0.5 -0.654654 -0.654654  0.807740
4  -0.098254  1.311220  1.0 -1.0 -0.5  2.0 -0.654654 -0.654654 -1.141977
5  -1.051900 -0.835122 -1.0  1.0 -0.5 -0.5 -0.654654  1.527525 -0.863446
6  -0.228297  0.023415  1.0 -1.0 -0.5 -0.5  1.527525 -0.654654  1.643333
7   0.855391 -0.210732 -1.0  1.0  2.0 -0.5 -0.654654 -0.654654  0.529209
8   1.332214  2.169757  1.0 -1.0 -0.5  2.0 -0.654654 -0.654654  1.364802
9  -0.892959 -0.405854 -1.0  1.0 -0.5 -0.5 -0.654654  1.527525 -0.306384
10  0.219627 -0.835122  1.0 -1.0 -0.5 -0.5  1.527525 -0.654654 -0.584915

   equi_depth_column0
ID
1    (-1.371, -1.084]
2     (-0.67, -0.367]
3       (1.38, 1.809]
4    (-0.163, 0.0289]
5    (-1.084, -0.925]
6    (-0.367, -0.163]
7       (0.41, 0.951]
8       (0.951, 1.38]
9     (-0.925, -0.67]
10     (0.0289, 0.41]

# II. Bài tập vận dụng

In [16]:
# Cài đặt thư viện
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler, KBinsDiscretizer
from sklearn.impute import SimpleImputer

## 2.1. Load dataset

In [17]:
def read_dataset(path):
    # Todo: read_csv from a path and return a DataFrame
    df = pd.read_csv(path, delimiter=',', header=None)
    display(df)
    # display(df.describe())
    return df
PATH = "/content/drive/MyDrive/Colab Notebooks/Data_Mining/Lab01/" # Path to your file

df = read_dataset(os.path.join(PATH, "arrhythmia.data"))

,0,1,2,3,4,5,6,7,8,9,...,270,271,272,273,274,275,276,277,278,279
0,75,0,190,80,91,193,371,174,121,-16,...,0.0,9.0,-0.9,0.0,0.0,0.9,2.9,23.3,49.4,8
1,56,1,165,64,81,174,401,149,39,25,...,0.0,8.5,0.0,0.0,0.0,0.2,2.1,20.4,38.8,6
2,54,0,172,95,138,163,386,185,102,96,...,0.0,9.5,-2.4,0.0,0.0,0.3,3.4,12.3,49.0,10
3,55,0,175,94,100,202,380,179,143,28,...,0.0,12.2,-2.2,0.0,0.0,0.4,2.6,34.6,61.6,1
4,75,0,190,80,88,181,360,177,103,-16,...,0.0,13.1,-3.6,0.0,0.0,-0.1,3.9,25.4,62.8,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
447,53,1,160,70,80,199,382,154,117,-37,...,0.0,4.3,-5.0,0.0,0.0,0.7,0.6,-4.4,-0.5,1
448,37,0,190,85,100,137,361,201,73,86,...,0.0,15.6,-1.6,0.0,0.0,0.4,2.4,38.0,62.4,10
449,36,0,166,68,108,176,365,194,116,-85,...,0.0,16.3,-28.6,0.0,0.0,1.5,1.0,-44.2,-33.2,2
450,32,1,155,55,93,106,386,218,63,54,...,-0.4,12.0,-0.7,0.0,0.0,0.5,2.4,25.0,46.6,1
451,78,1,160,70,79,127,364,138,78,28,...,0.0,10.4,-1.8,0.0,0.0,0.5,1.6,21.3,32.8,1

In [18]:
df.dtypes

0        int64
1        int64
2        int64
3        int64
4        int64
        ...
275    float64
276    float64
277    float64
278    float64
279      int64
Length: 280, dtype: object

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 452 entries, 0 to 451
Columns: 280 entries, 0 to 279
dtypes: float64(120), int64(155), object(5)
memory usage: 988.9+ KB

In [20]:
# lọc lấy 5 cột đầu
df = df.iloc[:, :5]
print(df)

      0  1    2   3    4
0    75  0  190  80   91
1    56  1  165  64   81
2    54  0  172  95  138
3    55  0  175  94  100
4    75  0  190  80   88
..   .. ..  ...  ..  ...
447  53  1  160  70   80
448  37  0  190  85  100
449  36  0  166  68  108
450  32  1  155  55   93
451  78  1  160  70   79

[452 rows x 5 columns]

## 2.2. Xử lý các giá trị missing

In [21]:
print(df.isnull().sum())

0    0
1    0
2    0
3    0
4    0
dtype: int64

In [22]:
def preprocessing_data(df):
    # --- (Optional) Drop null datapoints or fill missing data
    # print("Sample size:", len(df))
    # df = df.dropna()
    # print("Not null sample size:", len(df))
    # Keep your data the same if you dont want to customize it
    df = df
    return df

In [23]:
df = preprocessing_data(df.copy())

## 2.3. Xử lý các giá trị giống nhau

In [24]:
#  Kiểm tra giá trị duplicated
print(df.duplicated().sum())
df = df.drop_duplicates(df)

1

## 2.4. Xử lý giá trị ngoại lai và chuẩn hóa dữ liệu

In [25]:
# Get the data types of each column
dtypes = df.dtypes

# Select the columns with dtype 'object'
object_cols = dtypes[dtypes == 'object'].index.tolist()

# Drop the selected columns
df_1 = df.drop(object_cols, axis=1)
print(df_1)

      0  1    2   3    4
0    75  0  190  80   91
1    56  1  165  64   81
2    54  0  172  95  138
3    55  0  175  94  100
4    75  0  190  80   88
..   .. ..  ...  ..  ...
447  53  1  160  70   80
448  37  0  190  85  100
449  36  0  166  68  108
450  32  1  155  55   93
451  78  1  160  70   79

[451 rows x 5 columns]

In [26]:
## Chuẩn hóa bằng StandardScaler
array = df_1.values
scaler = StandardScaler()
standard = scaler.fit_transform(array)
standard_df = pd.DataFrame(standard, index=df.index)
print("Chuẩn hóa dữ liệu bằng z-score:\n",standard_df)

Chuẩn hóa dữ liệu bằng z-score:
             0         1         2         3         4
0    1.733481 -1.105294  0.640014  0.721562  0.134660
1    0.579488  0.904737 -0.032633 -0.247865 -0.516269
2    0.458015 -1.105294  0.155708  1.630399  3.194030
3    0.518752 -1.105294  0.236426  1.569810  0.720497
4    1.733481 -1.105294  0.640014  0.721562 -0.060619
..        ...       ...       ...       ...       ...
447  0.397279  0.904737 -0.167162  0.115670 -0.581362
448 -0.574505 -1.105294  0.640014  1.024508  0.720497
449 -0.635242 -1.105294 -0.005727 -0.005508  1.241241
450 -0.878188  0.904737 -0.301692 -0.793167  0.264846
451  1.915691  0.904737 -0.167162  0.115670 -0.646455

[451 rows x 5 columns]

## 2.5. Rời rạc hóa dữ liệu

### 10 equi-width ranges

In [27]:
df_2 = standard_df.copy()
df_2['equi_width_column0'] = pd.cut(x=df_2[0], bins = 10)
print('Rời rạc hóa dữ liệu bằng 10 equi-width ranges:\n', df_2)

Rời rạc hóa dữ liệu bằng 10 equi-width ranges:
             0         1         2         3         4 equi_width_column0
0    1.733481 -1.105294  0.640014  0.721562  0.134660     (1.715, 2.219]
1    0.579488  0.904737 -0.032633 -0.247865 -0.516269     (0.203, 0.707]
2    0.458015 -1.105294  0.155708  1.630399  3.194030     (0.203, 0.707]
3    0.518752 -1.105294  0.236426  1.569810  0.720497     (0.203, 0.707]
4    1.733481 -1.105294  0.640014  0.721562 -0.060619     (1.715, 2.219]
..        ...       ...       ...       ...       ...                ...
447  0.397279  0.904737 -0.167162  0.115670 -0.581362     (0.203, 0.707]
448 -0.574505 -1.105294  0.640014  1.024508  0.720497   (-0.805, -0.301]
449 -0.635242 -1.105294 -0.005727 -0.005508  1.241241   (-0.805, -0.301]
450 -0.878188  0.904737 -0.301692 -0.793167  0.264846   (-1.309, -0.805]
451  1.915691  0.904737 -0.167162  0.115670 -0.646455     (1.715, 2.219]

[451 rows x 6 columns]

###  10 equi-depth ranges

In [28]:
df_3 = standard_df.copy()
df_3['equi_depth_column0'] = pd.qcut(df_3[0], q=10)
print('Rời rạc hóa dữ liệu bằng 10 equi-depth ranges:\n', df_3)

Rời rạc hóa dữ liệu bằng 10 equi-depth ranges:
             0         1         2         3         4 equi_depth_column0
0    1.733481 -1.105294  0.640014  0.721562  0.134660     (1.248, 2.219]
1    0.579488  0.904737 -0.032633 -0.247865 -0.516269     (0.276, 0.579]
2    0.458015 -1.105294  0.155708  1.630399  3.194030     (0.276, 0.579]
3    0.518752 -1.105294  0.236426  1.569810  0.720497     (0.276, 0.579]
4    1.733481 -1.105294  0.640014  0.721562 -0.060619     (1.248, 2.219]
..        ...       ...       ...       ...       ...                ...
447  0.397279  0.904737 -0.167162  0.115670 -0.581362     (0.276, 0.579]
448 -0.574505 -1.105294  0.640014  1.024508  0.720497   (-0.757, -0.575]
449 -0.635242 -1.105294 -0.005727 -0.005508  1.241241   (-0.757, -0.575]
450 -0.878188  0.904737 -0.301692 -0.793167  0.264846   (-1.243, -0.757]
451  1.915691  0.904737 -0.167162  0.115670 -0.646455     (1.248, 2.219]

[451 rows x 6 columns]

### Cách khác: Dùng KBinsDiscretizer

In [29]:
kbins = KBinsDiscretizer(n_bins=10, encode="ordinal", strategy = 'uniform')
data_equi_width = kbins.fit_transform(standard)
categorical_df = pd.DataFrame(data_equi_width)
print(categorical_df)

       0    1    2    3    4
0    9.0  0.0  1.0  4.0  2.0
1    6.0  9.0  0.0  3.0  1.0
2    6.0  0.0  0.0  5.0  6.0
3    6.0  0.0  1.0  5.0  3.0
4    9.0  0.0  1.0  4.0  2.0
..   ...  ...  ...  ...  ...
446  6.0  9.0  0.0  3.0  1.0
447  4.0  0.0  1.0  4.0  3.0
448  4.0  0.0  0.0  3.0  3.0
449  3.0  9.0  0.0  2.0  2.0
450  9.0  9.0  0.0  3.0  1.0

[451 rows x 5 columns]

# III.PCA

In [30]:
# Import thư viện
import pandas as pd # pandas
import numpy as np # numpy
import time
import os
import requests
from sklearn import preprocessing

## 3.1. Load Dataset

In [31]:
url = 'https://archive.ics.uci.edu/static/public/74/data.csv' # Đọc file csv musk
df = pd.read_csv(url)
print(df)

     molecule_name conformation_name  f1   f2   f3   f4   f5   f6   f7   f8  \
0         MUSK-188           188_1+1  42 -198 -109  -75 -117   11   23  -88
1         MUSK-188           188_1+2  42 -191 -142  -65 -117   55   49 -170
2         MUSK-188           188_1+3  42 -191 -142  -75 -117   11   49 -161
3         MUSK-188           188_1+4  42 -198 -110  -65 -117   55   23  -95
4         MUSK-190           190_1+1  42 -198 -102  -75 -117   10   24  -87
..             ...               ...  ..  ...  ...  ...  ...  ...  ...  ...
471  NON-MUSK-jp13          jp13_1+4  49 -199 -161   29  -95  -86  -48    2
472  NON-MUSK-jp13          jp13_2+1  38 -123 -139   30 -117  -88  214  -13
473  NON-MUSK-jp13          jp13_2+2  43 -102  -20 -101 -116  200 -166   66
474  NON-MUSK-jp13          jp13_2+3  39  -58   27   31 -117  -92   85   21
475  NON-MUSK-jp13          jp13_2+4  52 -121  -24 -104 -116  195 -162   76

     ...  f158  f159  f160  f161  f162  f163  f164  f165  f166  class
0    ...   -74  -129  -120   -38    30    48   -37     6    30    1.0
1    ...  -302    60  -120   -39    31    48   -37     5    30    1.0
2    ...   -73  -127  -120   -38    30    48   -37     5    31    1.0
3    ...  -302    60  -120   -39    30    48   -37     6    30    1.0
4    ...   -73  -127    51   128   144    43   -30    14    26    1.0
..   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...    ...
471  ...  -246  -209    33   152   134    47   -43   -15   -10    0.0
472  ...  -226  -210    20    55   119    79   -28     4    74    0.0
473  ...    32   136   -15   143   121    55   -37   -19   -36    0.0
474  ...  -232  -206    13    45   116    79   -28     3    74    0.0
475  ...    34   133   -20   -46    95    98   -14    12    96    0.0

[476 rows x 169 columns]

## 3.2. Xử lý các giá trị missing

In [32]:
# Null checking
print(df.isnull().sum())
df = df.dropna()

molecule_name        0
conformation_name    0
f1                   0
f2                   0
f3                   0
                    ..
f163                 0
f164                 0
f165                 0
f166                 0
class                0
Length: 169, dtype: int64

## 3.3. Xử lý các giá trị duplicates

In [33]:
# Duplicate checking
df.duplicated().sum()

0

## 3.4. Chuẩn bị dữ liệu

In [34]:
def prepare_data(df):
  # Get the data types of each column
  dtypes = df.dtypes

  # Select the columns with dtype 'object'
  object_cols = dtypes[dtypes == 'object'].index.tolist()

  # Drop the selected columns
  df_1 = df.drop(object_cols, axis=1)
  return df_1

df_1 = prepare_data(df)
print(df_1)

     f1   f2   f3   f4   f5   f6   f7   f8   f9  f10  ...  f158  f159  f160  \
0    42 -198 -109  -75 -117   11   23  -88  -28  -27  ...   -74  -129  -120
1    42 -191 -142  -65 -117   55   49 -170  -45    5  ...  -302    60  -120
2    42 -191 -142  -75 -117   11   49 -161  -45  -28  ...   -73  -127  -120
3    42 -198 -110  -65 -117   55   23  -95  -28    5  ...  -302    60  -120
4    42 -198 -102  -75 -117   10   24  -87  -28  -28  ...   -73  -127    51
..   ..  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...   ...   ...   ...
471  49 -199 -161   29  -95  -86  -48    2  112  -79  ...  -246  -209    33
472  38 -123 -139   30 -117  -88  214  -13  -74 -129  ...  -226  -210    20
473  43 -102  -20 -101 -116  200 -166   66 -222  -49  ...    32   136   -15
474  39  -58   27   31 -117  -92   85   21  -73  -68  ...  -232  -206    13
475  52 -121  -24 -104 -116  195 -162   76 -226  -56  ...    34   133   -20

     f161  f162  f163  f164  f165  f166  class
0     -38    30    48   -37     6    30    1.0
1     -39    31    48   -37     5    30    1.0
2     -38    30    48   -37     5    31    1.0
3     -39    30    48   -37     6    30    1.0
4     128   144    43   -30    14    26    1.0
..    ...   ...   ...   ...   ...   ...    ...
471   152   134    47   -43   -15   -10    0.0
472    55   119    79   -28     4    74    0.0
473   143   121    55   -37   -19   -36    0.0
474    45   116    79   -28     3    74    0.0
475   -46    95    98   -14    12    96    0.0

[476 rows x 167 columns]

## 3.5. Xử lý giá trị ngoại lai và Scaling dữ liệu

Vì PCA hoạt động dựa trên phương sai của dữ liệu, do đó các giá trị ngoại lai có thể làm sai lệch kết quả phân tích và khiến cho các thành phần chính không còn đại diện cho dữ liệu một cách chính xác.

Ta sẽ sử dụng các phương pháp chuẩn hóa dữ liệu RobustScaler: Phương pháp này giúp giảm thiểu ảnh hưởng của các giá trị ngoại lai đến kết quả phân tích.

In [35]:
# Xử lý giá trị ngoại lai
array = df_1.values
scaler = preprocessing.RobustScaler()
robust_df = scaler.fit_transform(array)
robust_df = pd.DataFrame(robust_df)
print('Xử lý outlier và scaling bằng RobustScaler:\n', robust_df)

Xử lý outlier và scaling bằng RobustScaler:
           0         1         2         3     4         5         6    \
0    0.000000 -0.581522 -0.008130 -1.131868   0.0  0.000000 -0.085714
1    0.000000 -0.505435 -0.276423 -1.021978   0.0  0.276295  0.038095
2    0.000000 -0.505435 -0.276423 -1.131868   0.0  0.000000  0.038095
3    0.000000 -0.581522 -0.016260 -1.021978   0.0  0.276295 -0.085714
4    0.000000 -0.581522  0.048780 -1.131868   0.0 -0.006279 -0.080952
..        ...       ...       ...       ...   ...       ...       ...
471  0.368421 -0.592391 -0.430894  0.010989  22.0 -0.609105 -0.423810
472 -0.210526  0.233696 -0.252033  0.021978   0.0 -0.621664  0.823810
473  0.052632  0.461957  0.715447 -1.417582   1.0  1.186813 -0.985714
474 -0.157895  0.940217  1.097561  0.032967   0.0 -0.646782  0.209524
475  0.526316  0.255435  0.682927 -1.450549   1.0  1.155416 -0.966667

          7         8         9    ...       157       158       159  \
0   -1.600000  0.070270  0.515235  ...  1.482838  0.254202 -0.929204
1   -2.837736 -0.021622  0.869806  ... -0.604119  1.048319 -0.929204
2   -2.701887 -0.021622  0.504155  ...  1.491991  0.262605 -0.929204
3   -1.705660  0.070270  0.869806  ... -0.604119  1.048319 -0.929204
4   -1.584906  0.070270  0.504155  ...  1.491991  0.262605  0.584071
..        ...       ...       ...  ...       ...       ...       ...
471 -0.241509  0.827027 -0.060942  ... -0.091533 -0.081933  0.424779
472 -0.467925 -0.178378 -0.614958  ...  0.091533 -0.086134  0.309735
473  0.724528 -0.978378  0.271468  ...  2.453089  1.367647  0.000000
474  0.045283 -0.172973  0.060942  ...  0.036613 -0.069328  0.247788
475  0.875472 -1.000000  0.193906  ...  2.471396  1.355042 -0.044248

          160       161       162       163       164       165  166
0   -0.415546 -0.627907 -0.466667 -0.070175  0.485714 -0.058140  1.0
1   -0.421525 -0.616279 -0.466667 -0.070175  0.457143 -0.058140  1.0
2   -0.415546 -0.627907 -0.466667 -0.070175  0.457143 -0.046512  1.0
3   -0.421525 -0.627907 -0.466667 -0.070175  0.485714 -0.058140  1.0
4    0.576981  0.697674 -0.577778  0.421053  0.714286 -0.104651  1.0
..        ...       ...       ...       ...       ...       ...  ...
471  0.720478  0.581395 -0.488889 -0.491228 -0.114286 -0.523256  0.0
472  0.140508  0.406977  0.222222  0.561404  0.428571  0.453488  0.0
473  0.666667  0.430233 -0.311111 -0.070175 -0.228571 -0.825581  0.0
474  0.080717  0.372093  0.222222  0.561404  0.400000  0.453488  0.0
475 -0.463378  0.127907  0.644444  1.543860  0.657143  0.709302  0.0

[476 rows x 167 columns]

Khi sử dụng mô hình PCA (Phân tích thành phần chính), việc rời rạc hóa dữ liệu không phải là bắt buộc, nhưng chuẩn hóa dữ liệu là cần thiết.

## 3.6. PCA model

In [36]:
from sklearn.decomposition import PCA
pca = PCA(random_state=42)
pca = pca.fit(robust_df) # Chỉ tính toán và lưu trữ các thành phần chính (principal components) và giá trị riêng (eigenvalues) của tập dữ liệu.
                              # Không biến đổi dữ liệu đầu vào.
eigenvalues = pca.explained_variance_ratio_
print('eigenvalues: \n', eigenvalues)
eigenvectors = pca.components_
print('eigenvectors: \n', eigenvectors)

eigenvalues:
 [3.53588599e-01 1.80042130e-01 1.75501426e-01 1.26149104e-01
 1.08836101e-01 1.50582125e-02 1.20677760e-02 7.47054873e-03
 3.86466010e-03 2.07089804e-03 1.94395847e-03 1.50921436e-03
 1.41748212e-03 1.25317102e-03 8.48936148e-04 7.76295197e-04
 7.12738665e-04 6.46208563e-04 6.16374945e-04 4.85369870e-04
 4.65531125e-04 4.52545050e-04 4.23203837e-04 3.48920098e-04
 2.99850984e-04 2.52318621e-04 2.34866191e-04 2.05265668e-04
 1.89765645e-04 1.72130744e-04 1.46801396e-04 1.26400622e-04
 1.07307788e-04 1.04087559e-04 1.00469159e-04 9.59882361e-05
 9.12812782e-05 8.45485747e-05 8.09155274e-05 7.57809029e-05
 6.85980447e-05 6.36400669e-05 5.47024540e-05 5.06624003e-05
 4.98489616e-05 4.49527413e-05 4.19301427e-05 4.15815082e-05
 3.66426767e-05 3.46457502e-05 3.15097394e-05 3.02771999e-05
 2.92576953e-05 2.87380091e-05 2.71079143e-05 2.54711310e-05
 2.31097431e-05 2.22104446e-05 2.05206805e-05 1.97473279e-05
 1.86095362e-05 1.83481765e-05 1.68198037e-05 1.52033548e-05
 1.47894606e-05 1.40369264e-05 1.29939405e-05 1.24075586e-05
 1.18827887e-05 1.15259076e-05 9.81592592e-06 9.48416773e-06
 9.15669154e-06 8.89809692e-06 8.19325983e-06 7.73467006e-06
 7.34663717e-06 6.79758942e-06 6.70484003e-06 5.94462513e-06
 5.72763160e-06 5.42207635e-06 4.88919532e-06 4.70567804e-06
 4.55704456e-06 4.45960492e-06 4.14481914e-06 4.03691221e-06
 3.89888808e-06 3.50099299e-06 3.45703380e-06 3.39000545e-06
 3.17545406e-06 2.91195698e-06 2.81142993e-06 2.66456297e-06
 2.62667086e-06 2.46891790e-06 2.36111524e-06 2.22219775e-06
 2.07570766e-06 1.93197778e-06 1.77958089e-06 1.77058809e-06
 1.66411274e-06 1.57467116e-06 1.47382191e-06 1.42956847e-06
 1.34024357e-06 1.29250912e-06 1.24573761e-06 1.20931517e-06
 1.17100702e-06 1.04043535e-06 1.02547356e-06 9.93405065e-07
 9.30122678e-07 8.93089968e-07 8.53632930e-07 7.86845513e-07
 7.36422381e-07 6.95947545e-07 6.22483102e-07 6.16187063e-07
 5.66348318e-07 5.39475640e-07 5.25572321e-07 4.97007597e-07
 4.25083214e-07 4.09946539e-07 4.01432193e-07 3.78540625e-07
 3.62116912e-07 3.30079720e-07 3.26122442e-07 2.88562970e-07
 2.74204163e-07 2.63538622e-07 2.49064739e-07 2.27868979e-07
 2.03141133e-07 1.95860401e-07 1.80545763e-07 1.70080091e-07
 1.60816625e-07 1.49254295e-07 1.34463592e-07 1.28768892e-07
 1.20234505e-07 1.10251502e-07 1.01254947e-07 8.05417795e-08
 7.32117459e-08 7.15264987e-08 6.99474897e-08 6.15800990e-08
 5.65915796e-08 5.13451244e-08 4.51773797e-08 3.09327721e-08
 2.81574754e-08 2.62037493e-08 1.90889804e-08 1.79067728e-08
 1.40149929e-08 1.00295417e-08 6.89627901e-09]
eigenvectors:
 [[ 3.63293469e-03  5.71647537e-03  1.45124431e-03 ...  2.64675373e-03
   6.59605161e-03 -2.37871431e-03]
 [ 7.23017639e-03  3.77206909e-03  1.73410286e-03 ... -4.37080256e-04
   1.24965312e-03 -7.33889506e-04]
 [ 3.70124054e-03 -4.03853667e-03 -2.22777134e-03 ...  2.18801768e-03
  -1.19311945e-03  7.35877494e-06]
 ...
 [ 6.65172463e-04 -2.25060997e-02 -1.28658866e-02 ... -5.63228203e-03
   1.67852823e-02  3.51672152e-03]
 [ 3.35591470e-04 -7.22912059e-03 -6.11643108e-03 ...  1.49978336e-03
   1.50506429e-05 -2.06083416e-03]
 [-9.89885163e-04  1.76486769e-03  2.86987171e-03 ... -4.18089515e-05
   2.05665989e-03 -1.24670990e-03]]